<script id="quiz-template" type="text/x-handlebars-template">
  <div class="quiz-question">
    <p>{{question.text}}</p>
    {{#if question.options}}
      <div class="form-group">
        {{#each question.options}}
          <div>
            <input type="radio" name="answer" value="{{this}}"> {{this}}
          </div>
        {{/each}}
      </div>
    {{else}}
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Type your answer">
      </div>
    {{/if}}
    <button class="btn btn-primary next-question">Next Question</button>
  </div>
</script>
